<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Start Logo / Text -->
      <a class="navbar-brand text-logo" href="#"><i class="ion-ios-grid-view"></i>LOGO</a>
      <!-- End Logo / Text -->
    </div>
    <!-- Navigation Links -->
    <div class="navigation navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#top-banner">Btn</a></li>
        <li><a href="#">Btn</a></li>
        <li><a href="#">Btn</a></li>
        <li><a href="#">Btn</a></li>
        <li>  <a class="btn" data-toggle="modal" data-target="#myModal">
        Open Modal</a> </li>
      </ul>
    </div>
    <!-- End Navigation Links  -->
  </div>
</nav>
<!-- End Navigation -->
