.image {
	float: left;
	margin-left: 35px;
}

.middle {
	margin-top: 35px;
}

.navbar a {
    color: white;
}

.navbar .navbar-nav {
	display: block;
	float: right;
  	margin-top: 26px;
  	margin-right: 35px;
}

.navbar > collapsed {
  float: center;

  margin: 0px;
}

.navbar a :hover  {
    color: black;
}
