<!-- Footer Subscribe -->
<section id="subscribe" class="section bg-dark cartographer util-m-t-50">
  <div class="bg-overlay"></div>
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 title white-text">
        <h2>We come up with great content every week.</h2>
        <p>Join the tribe now to stay updated about latest trend.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <!-- Footer Form -->
        <!-- TODO add subscribe link to database from homepage as well -->
        <form class="bottom-form" action="#" method="post">
          <div class="input-group">
            <input class="form-control bottom-form-input" type="email" name="bottom-email" placeholder="Email Address" required>
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
            </div>
          </div>
        </form>
        <!-- End Footer Form -->
        <div class="form-process white-text"></div>
      </div>
    </div>

    <div class="row util-m-t-50">
      <div class="col-md-12 white-text">
        <!-- Icons -->
        <!-- TODO Change icons. There will be different icons. -->
        <ul class="social">
          <li><a routerLink="/tnc"><i class="icon ion-social-twitter-outline"></i></a></li><!-- Tnc Icon -->
          <li><a routerLink="/privacy-policy"><i class="icon ion-social-facebook"></i></a></li><!-- Privacy Policy Icon -->
          <li><a routerLink="/affiliate-marketing"><i class="icon ion-social-dribbble-outline"></i></a></li><!-- Affiliate Marketing Icon -->
          <li><a routerLink="/about-us"><i class="icon ion-social-googleplus-outline"></i></a></li><!-- About us Icon -->
          <li><a routerLink="/contact-us"><i class="icon ion-social-linkedin-outline"></i></a></li><!-- Contact Us Icon -->
        </ul>
        <!-- Icons -->
        <!-- <p class="text-center"> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet </p> -->
      </div>
    </div>

  </div>
</section>
<!-- End Footer Subscribe -->

<!-- Footer Bottom -->
<footer class="footer footer-sub">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>&copy; 9STRIPE. All Right Reserved</p>
      </div>
      <!-- TODO Add company URL Here -->
      <!-- <div class="col-md-6 col-sm-12">
        <p class="copyright">Made with <i class="ion-heart"></i> by <a href="https://assaultkoder95.github.io/"> AK95</a></p>
      </div> -->
    </div>
  </div>
</footer>
<!-- End Footer Bottom -->
