.footer {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #191919;
  text-align: center;
  color: #e5d80e;
}

.sub-footer{
    background-color: #090909;
    color: #e5d80e;
    padding-top: 25px;
    padding-bottom: 15px;
}

.heading{
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.sub-footer a {
    color: #e5d80e;
}

form {
  margin-right: 100px;
  margin-left: 100px; 
  display: flex;
  align-items: center;
}

.input {
  width: 250%;
  height: 46px;
  background: #FDFCFB;
  border-radius: 5px 5px 5px 5px;
  border: 50px;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  margin-right: 5px;
  text-indent: 5%;
}

.button {
  width: 50%;
  height: 46px;
  background-color: #e5d80e;
  border: none;
  margin-left: 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px; 
  cursor: pointer;
}