<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="info">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="heading">
                        <h3 class="heading-title">We come up with great content every week</h3>
                        <div class="heading-line">
                            <span class="short-line">Join the tribe now to stay updated about latest trend.</span>
                        </div>
                        <br>
                        <form action="#" method="post" name="sign-up">
                            <input type="email" class="input" id="email" name="email" placeholder="neha@strence.com" required>
                            <input type="submit" class="button" id="submit" value="SIGN UP">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>
                        <a class="margin" href="#">ABOUT US</a>
                        <a class="margin" href="#">CONTACT US</a>
                        <a class="margin" href="#">AMAZON AFFILIATE DISCLOSURE</a>
                        <a class="margin" href="#">TERMS AND CONDITIONS</a>
                        <a class="margin" href="#">PRIVACY POLICY</a>
                    </span>
                    <br><br>
                    <span style="color: #e5d80e;">Copyright © 2017 · Strence.com All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>