<!-- Footer Subscribe -->
<section id="subscribe" class="section bg-dark cartographer util-m-t-50">
  <div class="bg-overlay"></div>
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 title white-text">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <!-- Footer Form -->
        <form class="bottom-form" action="#" method="post">
          <div class="input-group">
            <input class="form-control bottom-form-input" type="email" name="bottom-email" placeholder="Email Address" required>
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
            </div>
          </div>
        </form>
        <!-- End Footer Form -->
        <div class="form-process white-text"></div>
      </div>
    </div>

    <div class="row util-m-t-50">
      <div class="col-md-12 white-text">
        <!-- Social Icons -->
        <ul class="social">
          <li><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li><!-- Twitter Icon -->
          <li><a href="#"><i class="icon ion-social-facebook"></i></a></li><!-- Facebook Icon -->
          <li><a href="#"><i class="icon ion-social-dribbble-outline"></i></a></li><!-- Dribble Icon -->
          <li><a href="#"><i class="icon ion-social-googleplus-outline"></i></a></li><!-- Googleplus Icon -->
          <li><a href="#"><i class="icon ion-social-linkedin-outline"></i></a></li><!-- Linkedin Icon -->
        </ul>
        <!-- End Social Icons -->
        <p class="text-center"> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet </p>
      </div>
    </div>

  </div>
</section>
<!-- End Footer Subscribe -->

<!-- Footer Bottom -->
<footer class="footer footer-sub">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>&copy; AK95. All Right Reserved</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <p class="copyright">Made with <i class="ion-heart"></i> by <a href="https://assaultkoder95.github.io/"> AK95</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Bottom -->
