<body>
<div class="col-lg-4 col-sm-12 overlay">
  <div class="margin">
      <h1>
        JOIN US FOR THE REVIEWS AND MONTHLY GIVEAWAYS!
      </h1>
      <hr /><br>
      <p>
      Receive the latest in Technology, Beauty, Gadgets and more in our newsletters
      </p>
      <br>
      <form action="#" method="post" name="sign-up">
        <input type="email" class="input" id="email" name="email" placeholder="neha@strence.com" required>
        <input type="submit" class="button" id="submit" value="SIGN UP">
      </form>
  </div>
</div>
</body>
