<!-- Top Banner -->
<section id="top-banner" class="section padding-150 bg-background">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row banner-content">

      <div class="col-md-10 col-md-offset-1">
        <h1>JOIN US FOR UNBIASED REVIEWS AND MONTHLY GIVEAWAYS!</h1>
        <h3>Receive the latest in Technology, Beauty, Gadgets and more in our newsletters.</h3>
        <div class="buttons-group">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
              <!-- Footer Form -->
              <!-- TODO store email from Subscribe list -->
              <form class="bottom-form util-m-t-50" action="#" method="post">
                <div class="input-group">
                  <input class="form-control bottom-form-input" type="text" name="bottom-email" placeholder="input" required>
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
                  </div>
                </div>
              </form>
              <!-- End Footer Form -->
              <div class="form-process white-text"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Top Banner -->


<!-- Introduction -->
<section id="intro" class="section nopadding-bottom">
  <div class="container">

    <!-- Section Title -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center util-m-b-50">
        <h1>TOP REVIEWED PRODUCTS</h1>
      </div>
    </div>
    <!-- End Section Title -->

    <div class="row margintop-50" *ngFor="let item of data">

      <!-- Right Column Content -->
      <div class="col-md-12 intro-features">
        <!-- Main Points Row -->
        <div class="row">
          <div class="col-md-6 intro-feature">
          <a href="{{item.url}}">
            <img src={{item.image}} class="img-responsive" />
            <h4 align="center" style="color:#ed5821">{{item.desc}}</h4>
          </a>
        </div>
          <div class="col-md-6 intro-feature">
            <a href="{{item.url2}}">
            <img src={{item.image2}} class="img-responsive" />
            <h4 align="center" style="color:#ed5821">{{item.desc2}}</h4>
          </a>
          </div>
        </div>
        <!-- End Main Points -->

      </div>
      <!-- End Left Column Content -->
    </div>

  </div>
</section>
<!-- End Intro -->
