body {
  color: #FDFCFB;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/background.png');

}

.margin{
margin-bottom: 125px;
}

.marginTop{
padding-top: 650px;
}

.margin-above{
 margin-top: 45px;
}


h1 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 200px;
  margin-right: 50px;
  margin-left: 50px;
}

hr {
  width: 85%;
  height: 1px;
  background-color: #FFFFFF;
  border: none;
  margin-left: 85px;
}

p {
  margin-right: 100px;
  margin-left: 100px;
  padding: 5px 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
}

form {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.overlay {
  position: center;

  min-width: 100%;
  min-height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, .7);

  padding: 0px 30px 30px 30px;
  border-radius: 5px 5px 5px 5px;
}

.input {
  width: 250%;
  height: 46px;
  background: #FDFCFB;
  border-radius: 5px 5px 5px 5px;
  border: 50px;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  margin-right: 5px;
  text-indent: 5%;
}

.button {
  width: 50%;
  height: 46px;
  background-color: #e5d80e;
  border: none;
  margin-left: 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  cursor: pointer;
}
