<!-- TODO improve check to show loader. Make it via service -->
<div class="loader" *ngIf="!showview">
  <div class="loader-centered">
    <div class="object square-one"></div>
    <div class="object square-two"></div>
    <div class="object square-three"></div>
  </div>
</div>

<!-- Introduction -->
<section id="intro" class="section nopadding-bottom" *ngIf="showview">
  <div class="container">

    <!-- Section Title -->
    <div class="row">
      <div class="col-md-12 util-m-b-50 text-center">
        <h1>{{data.title}}</h1>
        <h4>{{data.metaTitle}}</h4>
        <p>{{data.tags}}</p>
      </div>
    </div>
    <!-- End Section Title -->

    <div class="row">

      <!-- Left Column Content -->
      <div class="col-md-8 intro-features">
        <!-- Main Points Row -->
        <div class="row ">
          <div class="intro-feature">
            <img src={{data.topImage}} class="img-responsive" />
          </div>
          <p class="text-left" [innerHTML]="data.introduction"></p>
        </div>
        <!-- End Main Points -->

        <div class="row">
          <p class="text-left" [innerHTML]="data.miniIntro"></p>
          <div class="well bg-light-red text-bold">
            <p class="text-left">{{data.warning}}</p>
          </div>
          <p class="text-left">{{data.tableHeading}}</p>
        </div>
<hr>

        <div class="row">
          <table class="table table-striped table-hover">
            <thead>
              <th *ngFor="let header of data.tableheader; let i = index">{{header}}</th>
            </thead>
            <tbody *ngFor = "let tableValues of data.table">
              <tr>
                <td *ngFor = "let tableData of tableValues"> {{tableData}} </td>
                <td>
                  <button type="submit" class="btn btn-primary"> CTA BUTTON</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
<hr>

        <div class="row" *ngFor="let info of data.information">
          <div class="col-md-6">
            <h3 class="text-left"> {{info.name}} </h3>
            <p class="text-justify" [innerHTML]="info.desc">
            </p>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="{{info.img}}" />
          </div>
          <div class="col-md-12">
            <p class="text-justify" [innerHTML] = "info.additionalInfo">
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3 class="text-left"> {{data.summary}}</h3>
          </div>
        <div class="col-md-12">
          <p class="text-justify" [innerHTML]="data.detailedSummary">
          </p>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3 class="text-left"> {{data.conclusion}} </h3>
        </div>
    <div class="col-md-12">
      <p class="text-justify" [innerHTML]="data.detailedConclusion">
      </p>
    </div>

    </div>


        <div class="row">
          <h3> {{lowerTable}} </h3>
          <table class="table table-hover">
            <thead>
              <th *ngFor="let subheader of data.subtableheader; let i = index">{{subheader}}</th>
            </thead>
            <tbody *ngFor = "let subtableValues of data.subtable">
              <tr>
                <td *ngFor = "let subtableData of subtableValues; let i = index">
                  <span *ngIf="i !== 3"> {{subtableData}} </span>
                  <span *ngIf="i === 3">
                    <span *ngFor="let check of checkedStars(subtableData, 'checked')">
                      <span class="fa fa-star {{check}}"></span>
                    </span>
                    <span *ngFor="let check of checkedStars(5-subtableData, '')">
                      <span class="fa fa-star"></span>
                    </span>
                  </span>
                </td>
                <td>
                  <button type="submit" class="btn btn-primary"> AMAZON</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End Left Column Content -->
      </div>


<recent-products [isComparePage]="true"></recent-products>

    </div>
  </div>
  </section>
  <!-- End Intro -->
