@import "../../assets/css/style.css";
@import "../../assets/css/bootstrap.css";

.util-m-t-50{
	margin-top: 50px;
}
.util-m-b-50{
	margin-bottom: 50px;
	text-align: center;
}
.bg-light-red {
	background-color: #f9e5e5;
	border: 1px solid #f5baba;
	color: #000;
}
.text-bold {
	font-weight: 700;
}
.checked {
	color: orange;
}
