<!-- Introduction -->
<section id="intro" class="section nopadding-bottom">
  <div class="container">

    <!-- Section Title -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 util-m-b-50 text-center">
        <h1>{{data.title}}</h1>
        <h4>{{data.metaTitle}}</h4>
        <p>{{data.tags}}</p>
      </div>
    </div>
    <!-- End Section Title -->

    <div class="row">

      <!-- Left Column Content -->
      <div class="col-md-10 col-md-offset-1 intro-features">
        <!-- Main Points Row -->
        <div class="row ">
          <div class="intro-feature">
            <img src="{{data.topImage}}" class="img-responsive" />
          </div>
          <p class="text-left" [innerHTML]="data.introduction"></p>
        </div>
        <!-- End Main Points -->

        <div class="row">
          <p class="text-left" [innerHTML]="data.miniIntro"></p>
          <div class="well bg-light-red text-bold">
            <p class="text-left">{{data.warning}}</p>
          </div>
          <p class="text-left">{{data?.extraInfo}}</p>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <h3 class="text-left"> {{data.summary}} </h3>
            <p class="text-justify" [innerHTML]="data.detailedSummary"></p>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="{{data?.otherImage}}" />
          </div>
          <div class="col-md-12">
            <p class="text-justify" [innerHTML]="data.detailedConclusion"></p>
          </div>
        </div>

        <hr>

        <recent-products [isComparePage]="false"></recent-products>
        <!-- End Left Column Content -->
      </div>
    </div>
  </div>
  </section>
  <!-- End Intro -->
