<!-- Modal Body -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body text-center">
				<h4> Be the first to know </h4>
				<p>Simply register below to recieve our news letter.</p>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<form class="form-group" action="#" method="POST">
							<input class="form-control" type="email" id="email_id" name="email_id" placeholder="your email" />
							<button type="submit" class="btn btn-primary">submit</button>
						</form>
					</div>
				</div>
				<div class="row">
					<a href><div class="col-md-12"> Remind me later </div></a>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Modal Body -->
